@import '../../core/variables';

.footer {
  position: sticky;
  padding: 2rem;
  margin-top: 5rem;
  bottom: 0;
  background-color: $orange;
  text-align: center;
  font-size: 1.5rem;

  &__arrow-up {
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 0;
    transform: translate(-50%, -50%);

    background-color: $orangeDark;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .fa-arrow-up {
      font-size: 3rem;
      color: $white;
    }
    &:hover {
      overflow: hidden;
      .fa-arrow-up {
        animation-duration: 1s;
        animation-name: rollup;
        animation-iteration-count: infinite;
        @keyframes rollup {
          from {
            margin-bottom: -150%;
          }
          to {
            margin-bottom: 200%;
          }
        }
      }
    }
  }
}
