@import '../core/variables';

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(5rem, 1fr));
  grid-gap: 2rem;
  margin: 0 5rem;
  &__message {
    grid-column: 1/-1;
    border: 0.1rem solid $orange;
    margin: 1px;
    padding: 2rem;
    color: $orangeDark;
    background-color: $white;
    font-size: 1.6rem;
    text-align: center;
  }
}
