@import '../../core/variables';

.header {
  padding: 2rem;
  background-color: $orange;
  color: $black;
  text-align: center;
  &__title {
    padding: 1rem;
    font-size: 3rem;
    @media (min-width: 768px) {
      font-size: 4rem;
    }
    @media (min-width: 1280px) {
      font-size: 5rem;
    }
  }
  &__wow{
    color: $orangeDark;
  }
  &__description {
    padding: 1rem;
    font-size: 1.3rem;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1280px) {
      font-size: 2rem;
    }
  }
}
