@import '../../core/variables';

svg,
.detail {
  color: $orangeDark;
}
.scene-details {
  position: relative;
  padding: 5rem 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  &__back-btn {
    position: absolute;
    top: 0rem;
    left: 1rem;
    @media all and (min-width: 1280px) {
      top: 2rem;
      left: auto;
      right: 20%;
      padding: 1rem 10rem;
    }
  }
  &-main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    @media all and (min-width: 768px) {
      flex-direction: row;
    }
    &__img {
      width: 20rem;
      @media all and (min-width: 1280px) {
        width: 30rem;
      }
    }
    &__title {
      margin: 1rem 0 0.3rem;
      font-size: 3rem;
      color: $orangeDark;
      @media all and (min-width: 768px) {
        font-size: 2.4rem;
      }
    }
    &__director {
      margin: 0 0 1rem;
    }
    &__phrase {
      max-width: 40rem;
    }
  }
  &-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__video-url {
      border: 0.2rem $orangeDark solid;
      background-color: $white;
      border-radius: 0.5rem;
      color: $orangeDark;
      width: 15rem;
      &:hover {
        color: $white;
        background-color: $orangeDark;
      }
      @media all and (min-width: 768px) {
        width: 25rem;
      }
      @media all and (min-width: 1280px) {
        width: 30rem;
      }
    }
    &__audio {
      margin: 1rem;
      @media all and (min-width: 768px) {
        width: 50rem;
      }
      @media all and (min-width: 1280px) {
        width: 70rem;
      }
    }
  }
}
