@import '../../core/variables';

.not-found {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &__text {
    padding: 1.5rem;
    background-color: $orangeDark;
    color: $white;
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
  &__img {
    margin: 0 1rem;
    max-width: 35rem;
    @media (min-width: 768px) {
      max-width: 70rem;
    }
    @media (min-width: 1280px) {
      max-width: 100rem;
    }
  }
  &__back-btn {
    @media (min-width: 768px) {
      font-size: 2rem;
    }
  }
}
